<div id="banner_out">
  <div id="banner" class="nivoSlider" style="position: relative; background-image: url(/assets/banner.jpg); background-position: initial initial; background-repeat: no-repeat no-repeat;"></div>
</div>

<div class="contt">
  <div class="pcp_top_bx" align="left">
    <p class="pcp_top_bx_tlt"> Produtos </p>
    <div class="pcp_top_bx_img">
      <a href="produtos">
        <img src="assets/pcp1.png">
      </a>
    </div>
    <p class="pcp_top_bx_txt"> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
    <a href="produtos" class="pcp_bt_mais"></a>
  </div>

  <div class="pcp_top_bx_c" align="left">
    <p class="pcp_top_bx_tlt"> Benefícios </p>
    <div class="pcp_top_bx_img">
      <a href="beneficios">
        <img src="assets/pcp2.png">
      </a>
    </div>
    <p class="pcp_top_bx_txt"> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
    <a href="beneficios" class="pcp_bt_mais"></a>
  </div>

  <div class="pcp_top_bx" align="left">
    <p class="pcp_top_bx_tlt"> Seja um revendedor </p>
    <div class="pcp_top_bx_img">
      <a href="seja-um-revendedor">
        <img src="assets/pcp3.png">
      </a>
    </div>
    <p class="pcp_top_bx_txt"> Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. </p>
    <a href="" class="pcp_bt_mais"></a>
  </div>

  <div class="cb"></div>

  <div class="pcp_btt_bx">
    <div class="pcp_btt_bx_r" align="left">
      <p class="pcp_btt_bx_r_es"> Recomendação Médica </p>
      <p class="pcp_btt_bx_r_txt">Portadores de marcapasso devem utilizar somente os aparelhos com infravermelho
                                  Longo. Gestantes não devem fazer uso da massagem vibratória mas podem utilizar
                                  a "energia quântica". (Dúvidas, consultar o seu Médico). Os aparelhos não
                                  substituem as terapêuticas tradicionais ou orientação médica.</p>
      <!-- <a href="medico" class="pcp_bt_cont"></a> -->
      <!-- <div align="right"><a href="javascript:;" class="btn btn-small">Continuar lendo</a></div> -->
    </div>
    <div class="cb"></div>
  </div>
</div>
